<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>StudyBud</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'Bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/main.css' %}">

</head>
<body>
    
    {%include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {%block content%}

    {% endblock %}

    <script src="{% static 'Bootstrap5/js/bootstrap.bundle.js' %}"></script>
</body>
</html>