<nav class="navbar">
  <div class="nav-container">
    <!-- LEFT -->
    <div class="nav-left">
      <a href="/" class="logo"> <strong>BiT</strong> <span>SEMS</span> </a>
    </div>

    <!-- SEARCH (FULL WIDTH FLEX) -->
    <div class="nav-search">
      <form action="{% url 'base:home' %}" method="GET" class="search-form">
        <input type="text" name="q" placeholder="Search exams..." />
        <button type="submit">🔍</button>
      </form>
    </div>

    <!-- RIGHT -->
    <div class="nav-right">
      {% if request.user.is_authenticated %}
      <span class="welcome"> {{ request.user.username }}</span>
      <a href="{%url 'base:dashboard' %}" class="nav-link">Dashboard</a>
      <a href="{% url 'base:logout' %}" class="btn logout-btn">Logout</a>
      {% else %}
      <a href="{% url 'base:login' %}" class="btn login-btn">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
